.navbar .container-fluid {
    max-width: 1300px;
    font-family: 'Libre Baskerville', serif;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    left: -93px;
    opacity: .9;
}

h3 {
    font-family: 'Libre Baskerville', serif;
}

form {
    /* max-width: 500px; */
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.articulo {
    position: relative;
}

.articulo .text-container{
    display: none;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.tarjeta-presentacion {
    display: none;
    max-width: 300px;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 400px;
    background-image: url('./images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000;
}

@media (min-width: 992px) {
    .tarjeta-presentacion {
        width: 300px;
        display: inline-block;
    }
}

@media(min-width: 1200px) {
    .articulo:hover .text-container {
        display: block;
        cursor: pointer;
    }

    .articulo:hover img {
        opacity: .75;
    }
}